/* @import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"); */
.App {
  font-family: sans-serif;
  text-align: center;
}

.mt {
  margin-top: 10px;
}

img {
  width: 100px;
  height: 100px;
}
.d-none {
  display: none;
}

input[type="file"] {
  color: transparent;
}

table {
  table-layout: fixed;
}

td {
  word-break: break-all;
}
button {
  margin-top: 5px;
}
